force-app/40_dml_triggered_main/default/flows/Account_AssignSuggSalesRep_Flw_TAF.flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_suggested_user_ID_as_record_owner_ID</name>
        <label>Assign suggested user ID as record owner ID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_suggested_owner_user.Sales_Rep_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Assign Sugg Sales Rep Flow (TAF) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Assign Sugg Sales Rep Flow (TAF)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_suggested_owner_user</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_suggested_owner_user</name>
        <label>Get suggested owner user</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Assign_suggested_user_ID_as_record_owner_ID</targetReference>
        </connector>
        <flowName>Sales_Rep_Suggester</flowName>
        <inputAssignments>
            <name>Country_of_Residence</name>
            <value>
                <elementReference>record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Time_Customer</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>