force-app/40_dml_triggered_main/default/flows/Account_AssignSuggSalesRep_Flw_TAF.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_record_to_altered_records</name>
        <label>Add record to altered records</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>altered_records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_input_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_input_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_ID_to_output_user_ID</name>
        <label>Set Owner ID to output user ID</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_input_records.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggest_Owner_User.Sales_Rep_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_altered_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Assign Sugg Sales Rep Flow (TAF) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Assign Sugg Sales Rep Flow (TAF)</label>
    <loops>
        <name>Loop_over_input_records</name>
        <label>Loop over input records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Suggest_Owner_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_over_input_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Suggest_Owner_User</name>
        <label>Suggest owner user</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Set_Owner_ID_to_output_user_ID</targetReference>
        </connector>
        <flowName>Sales_Rep_Suggester</flowName>
        <inputAssignments>
            <name>Country_of_Residence</name>
            <value>
                <elementReference>Loop_over_input_records.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Time_Customer</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>altered_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Inbound account record (TAF seems to dictate that it be literally named &quot;record&quot;)</description>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
